body {
    background :rgb(51, 7, 7);
    color:white;
}

nav {
    background:red;
    padding:10px;
    
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    margin:15px !important;
}

main {
    
    
}

.CCCE {
    margin-top:15px;
    background: rgb(28, 133, 89);
    text-align:center;
    padding:15px;
}